@mixin column{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
@mixin row{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
@mixin button{
   box-sizing: border-box;
   border: ridge 2px $palette-six;
   border-radius: 5px;
   color: $palette-six;
   background-color: $palette-two;
   font-weight: bold;
   box-shadow: 0 5px 15px black;
}
@mixin button-hover{
      color: $palette-two;
      background-color: $palette-six;
      border-color: $palette-two;
   }
   @mixin bid-inputs {
      background-color: $palette-six;
      border: 2px solid $palette-two;
      font-size: 15px;
   }
   @mixin bid-columns {
      border: solid 2px black;
      background-color: $palette-five;
      height: 25px;
      box-shadow: 0 3px 10px black;
   }