* {
  text-decoration: none;
  margin: 0;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #022b3a;
}

.nav-container {
  width: 80%;
  background-color: indianred;
}

.nav-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 75px;
}

.nav-container div .logo {
  width: 30%;
}

.nav-container div .menu-one-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.nav-container div .menu-one-container .menu-one {
  height: 80%;
  color: #DDEDFA;
}

.nav-container div .menu-one-container .menu-one:hover {
  color: #37393a;
}

.nav-container .menu-two-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 100%;
  background-color: #77b6ea;
}

.nav-container .menu-two-container .menu-two {
  color: black;
}

.nav-container .menu-two-container .menu-two:hover {
  color: #DDEDFA;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 80%;
  min-height: 100vh;
  background-color: #37393a;
}

.dashboard header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  width: 90%;
  margin-top: 5px;
}

.dashboard header h1 {
  border-bottom: 2px solid #DDEDFA;
  color: #DDEDFA;
}

.dashboard header button {
  height: 40px;
  width: 120px;
  font-size: large;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: ridge 2px #BBDBF5;
  border-radius: 5px;
  color: #BBDBF5;
  background-color: #37393a;
}

.dashboard header button:hover {
  color: #37393a;
  background-color: #BBDBF5;
  border-color: #37393a;
}

.bid-list-title {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bid-list-title .bid-list-item-title {
  margin: 5px;
  text-align: center;
  background-color: #77b6ea;
  height: 30px;
  width: 220px;
  border: 2px solid black;
  color: black;
}

.bid-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bid-list .bid-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px;
  background-color: #204E66;
  border-radius: 5px;
  width: 95%;
  height: 45px;
  color: #DDEDFA;
}

.bid-list .bid-list-container:hover {
  background-color: #BBDBF5;
  color: #022b3a;
}

.bid-list .bid-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 24%;
  height: 70%;
}

.expand-view {
  width: 95%;
}

.expand-view .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 10px;
}

.expand-view .description-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expand-view .description-container .button-container button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: ridge 2px #BBDBF5;
  border-radius: 5px;
  color: #BBDBF5;
  background-color: #37393a;
  margin: 10px 25px 10px 0;
  height: 35px;
  width: 100px;
}

.expand-view .description-container .button-container button:hover {
  color: #37393a;
  background-color: #BBDBF5;
  border-color: #37393a;
}

.expand-view .description-container .overview {
  width: 85%;
  background-color: #BBDBF5;
  border-radius: 5px;
}
/*# sourceMappingURL=App.css.map */