@import "./modules/colors";
@import "./modules/mixins";

* {
   text-decoration: none;
   margin: 0;
}
.App {
   @include column;
   background-color: $palette-three;
 }
//nav

.nav-container {
   // @extend %column;
   // margin-top:15px;
   width: 80%;
   background-color: indianred;
   

   div{
      @include row;
      background-color: black;
      height:75px;
      
      .logo{
      width: 30%;
      }

      .menu-one-container{
      @include row;
      width: 45%;

         .menu-one{
         height: 80%;
         color: $palette-one;
         }
         .menu-one:hover{
            color: $palette-two;
         }
   }
}
.menu-two-container {
   @include row;
   height:30px;
   width:100%;
   background-color: $palette-five;

  .menu-two{
   // background-color: indianred;
   color: black;
  }
  .menu-two:hover{
   color: $palette-one;
}
}
}
//dashboard

.dashboard {
   @include column;
   justify-content: start;
   width: 80%;
   min-height: 100vh;
   background-color: $palette-two;
   
   header{
      @include row;
      justify-content:  space-between;
      height: 80px;
      width: 90%;
      margin-top: 5px;
      // background-color: $palette-seven;
      h1{
         border-bottom: 2px solid $palette-one;
         color: $palette-one;
      }
      button{
         height: 40px;
         width: 120px;
         font-size: large;
         @include button;
      }
      button:hover{
         @include button-hover;
      }
   }
}
.bid-list-title{
   //  margin-top: 15px;
    margin-bottom: 15px;
   @include row;
   // background-color: $palette-six;
   // align-self: center;
   width: 100%;
   

      .bid-list-item-title{
         margin: 5px;
         text-align: center;
         background-color: $palette-five;
         height: 30px;
         width:220px;
         border: 2px solid black;
         color: black;
      }
 }
   .bid-list {
   @include column; 
   // background-color: lightblue;
   width: 100%;
      .bid-list-container {
         @include row;
         margin: 2px;
         background-color: $palette-four;
         border-radius: 5px;
         width: 95%;
         height: 45px;
         color: $palette-one;
      }
         .bid-list-container:hover{
            background-color: $palette-six;
            color: $palette-three;
         }

         .bid-list-item{
            @include row;
            // background-color: $palette-three;
            text-align: center;
            width: 24%;
            height: 70%;
         }
}
      .expand-view{
         width: 95%;
         // background-color: lightslategray;
         .description-container{
            @include row;
            margin: 10px 0 10px;
         .button-container{
            @include column;
            button{
               @include button;
               margin:  10px 25px 10px 0;
               height: 35px;
               width: 100px;
            }
            button:hover{
               @include button-hover;
            }
         }
         .overview{
            width: 85%;
            background-color: $palette-six;
            border-radius: 5px;
         }

      }

   }

