@import "./modules/colors";
@import "./modules/mixins";

* {
   text-decoration: none;
   margin: 0;

}
.App {
   @include column;
   background-color: $palette-one;
   background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/93/52/7OE9Q0.jpg);
   background-size:  100% 100%;
 }

//nav

.nav-container {
   width: 80%;
   box-shadow: 0 10px 25px black;

   div{
      @include row;
      background-color: black;
      height:75px;
      
      .logo{
      height: 75px;
      width: 30%;
      }

      .menu-one-container{
      @include row;
      width: 45%;

         .menu-one{
         height: 80%;
         color: $palette-one;
         }
         .menu-one:hover{
            color: $palette-two;
         }
   }
}
.menu-two-container {
   @include row;
   height:30px;
   width:100%;
   background-color: $palette-five;

  .menu-two{
   // background-color: indianred;
   color: black;
  }
  .menu-two:hover{
   color: $palette-one;
}
}
}
//dashboard

.dashboard {
   @include column;
   justify-content: start;
   width: 80%;
   min-height: 100vh;
   background-color: $palette-two;
   box-shadow: 0 10px 25px black;

   
   header{
      @include row;
      justify-content:  space-between;
      height: 80px;
      width: 90%;
      margin-top: 5px;
      // background-color: $palette-seven;
      h1{
         border-bottom: 2px solid $palette-one;
         color: $palette-one;
      }
      button{
         height: 40px;
         width: 120px;
         font-size: 18px;
         @include button;
      }
      button:hover{
         @include button-hover;
      }
   }
         .delete-bid-button:hover{
            background-color: #800000;
         }
}
.bid-list-title{
   //  margin-top: 15px;
    margin-bottom: 15px;
   @include row;
   // background-color: $palette-six;
   // align-self: center;
   width: 100%;
 ;
   

      .bid-list-item-title{
         margin: 5px;
         padding-top: 5px;
         box-sizing: border-box;
         text-align: center;
         background-color: $palette-five;
         height: 35px;
         width:220px;
         border: 2px solid black;
         color: black;
         box-shadow: 0 2px 7px black;
      }
 }
   .bid-list {
   @include column; 
   // background-color: lightblue;
   width: 100%;
      %bid-list-container {
         @include row;
         margin: 5px;
         background-color: $palette-four;
         border-radius: 5px;
         width: 95%;
         height: 45px;
         color: $palette-one;
         box-shadow: 0 5px 25px black;
      }
      .bid-list-container {
         @extend %bid-list-container;
      }

      .bid-list-container-alt {
         @extend %bid-list-container;
         background-color: #44A635;
      }
         .bid-list-container:hover{
            background-color: $palette-six;
            color: $palette-three;
         }
         .bid-list-container-alt:hover{
            background-color: rgb(180, 238, 170);
            color: $palette-three;
         }


         .bid-list-item{
            @include row;
            // background-color: $palette-three;
            text-align: center;
            width: 24%;
            height: 70%;
         }
}
      .expand-view{
         width: 95%;
         // background-color: lightslategray;
         .description-container{
            @include row;
            margin: 10px 0 10px;
         .button-container{
            @include column;
            button{
               @include button;
               margin:  10px 25px 10px 0;
               height: 35px;
               width: 100px;
            }
            button:hover{
               @include button-hover;
            }
         }

      }

   }

   @media screen and (max-width: 1100px){
      .App {
         background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/93/52/7OE9Q0.jpg);
         background-position: center;
         background-size:  150% 100%;
         height: 110vh;
       }

       .nav-container{
          height:100px;
          width: 90%;
          .nav{
             height:100%;
          }
       }
       .dashboard {
         width: 90%;
   }
}

